{% extends 'layout.html' %}



{% block body %}
    
    <img src="{{article.image.url}}" style="max-height: 300px;" alt="article-image">
    <h4>{{article.title}}</h4>
    <p>by {{article.author}}<small> {{article.created_date}}</small></p>
    <p>{{article.content}}</p>

    <form method="POST" action="/article/comment/{{article.id}}" {% url 'article:comment' article.id %}>
        {% csrf_token %}
        <textarea name="comment_content" id="comment_content" cols="10" rows="3" class="form-control"></textarea>
        <button class="btn btn-danger" type="submit">comment</button>
    </form>

{% endblock body %}
    